.footerList h2 {
  color: var(--color-white);
  font-family: Manrope;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 114.286% */
  padding: 1.7rem 0;
}

.footerList ul {
  list-style-type: none;
}

.footerList li a {
  color: var(--color-white);
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  text-decoration: none;
}

.footerList li {
  padding-bottom: 0.7rem;
}
